################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/gitTrialWebAPI/.vs/gitTrialWebAPI
/gitTrialWebAPI/gitTrialWebAPI/obj
